.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));  
    gap: 10rem;
    margin: 8%;
    margin-left: 15%;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 6rem;
}

.spinner {
    margin: 0 43%;
}

@media (max-width: 949px) and (min-width: 451px){
    .content img{
      width: 100%;
    }
}

@media (max-width: 450px) and (min-width: 375px) { 
    .content img{
        width: 100%;
      }
      .content {
        width: 80%;
      }
}