<ng-container *ngIf="isSubmitting | async">
    <object class='spinner'
        type="image/svg+xml"
        data="../../../assets/spinnerBig.svg"
        >
    </object>
</ng-container>

<ng-container *ngIf="!(isSubmitting | async) && (data | async)">
    <div class='container'>
        <div class='content' *ngFor="let item of (data | async)">
            <app-card [item]="item" (newItemEvent)="addNewItem($event)"></app-card>
        </div> 
    </div>
    <ng-content></ng-content>
</ng-container>

