<ng-container *ngIf="isSubmitting | async">
    <object class='spinner'
        type="image/svg+xml"
        data="../../../assets/spinnerBig.svg"
        >
    </object>
</ng-container>

<div class='container'>
    <div class='content' *ngFor="let item of (data | async)">
        <div class='upperpartcard'> <div>TRENDING</div> <p>Sale: <span> 2k +</span></p></div>
            <div> 
                <img [alt]='item.title' [src]='item.image' class='imagecard'>
                <div>
                    <p class='leadingline'>New item for a new decade only for {{item.price}} $</p>
                    <div class='description'>{{item.title.slice(0, 50)}}. {{item.description.slice(0, 110)+ '...'}}</div> 
                </div>         
            </div>
        <button class='buttonAdd' >Add to cart</button>      
    </div>
</div>
