<header class='header'>
    <h1 class='logotitle'><a [routerLink]="['/']"> Clothes House</a></h1>
    <nav class='navigation'>
        <a [routerLink]="['/trending']"> Trending</a>
        <a [routerLink]="['/newarrival']"> New Arrival</a>
        <a [routerLink]="['/journal', 'In spring and summer winds may blow']"> Journal</a>
        <a [routerLink]="['/about']"> About Us</a>

    <ng-container *ngIf="isLoggedIn$ | async">
        <div>
            <button class="myAccount myAccount2" (click)="setOpen()">My profile </button> 
            <ul class="menu" *ngIf="open">
                <li (click)="setOpen()"><a [routerLink]="['/profile']" >Me</a></li>
                <li (click)="setOpen()"><a [routerLink]="['/']" (click)="logout()">Logout</a></li>
            </ul>
        </div>  
    </ng-container>

    <ng-container *ngIf="!((isLoggedIn$ | async) || (location | async) == '/login' || (location | async) == '/register')">
        <a class="login" [routerLink]="['/login']">Login</a>
    </ng-container>

</nav>

<div appFloatElement class='carticon'>
    <ng-container *ngIf="!((location | async) === '/cart' || (location | async) === '/login' || (location | async) === '/register' || (location | async) === '/checkout')">
        <app-cart-icon></app-cart-icon>
    </ng-container>
</div>

</header> 