<header class='header'>
    <h1 class='logotitle'><a [routerLink]="['/']"> Clothes House</a></h1>
    <nav class='navigation'>
        <a [routerLink]="['/trending']"> Trending</a>
        <a [routerLink]="['/newarrival']"> New Arrival</a>
        <a [routerLink]="['/journal', 'In spring and summer winds may blow']"> Journal</a>
        <a [routerLink]="['/about']"> About Us</a>
    </nav>

    <ng-container *ngIf="isLoggedIn$ | async">
        <div>
            <button class="myAccount myAccount2" (click)="setOpen()">My profile </button> 
            <ul class="menu" *ngIf="open">
                <li><a [routerLink]="['/about']">Me</a></li>
                <li><a [routerLink]="['/']" (click)="logout()">Logout</a></li>
            </ul>
        </div>  
    </ng-container>

    <ng-container *ngIf="!(isLoggedIn$ | async)">
        <button [routerLink]="['/login']">Login</button>
        <button [routerLink]="['/register']">Register</button>
    </ng-container>


    <!-- <button [routerLink]="['/login']">Login</button>
    <button [routerLink]="['/register']">Register</button>
    <button (click)="logout()">logout</button> -->

    <!-- {  location === "/login" || location === "/register" || isAuth ? null
       : <Link to="/login" className={styles.login}> Login</Link>
    } -->
    <!-- {
        isAuth? 
        <div>
            <button
              className={`${styles.myAccount} ${open? styles.myAccount2 : ''}`}
              onClick={()=> setOpen(!open)}               
            >My profile
            </button> 
            <ul className={`${styles.menu} ${open? '' : styles.hide}`}>
                <li><Link to="/myprofile">Me</Link></li>
                <li><Link to="/" onClick={()=> {dispatch(getShoppingItems([])); dispatch(deleteUser())}}>Logout</Link></li>
            </ul>
        </div>  

        : null
    } -->

<!-- </nav>
    {  location === "/cart" || location === "/login" || location === "/register" || location === "/checkout"? null
       : <CartIcon/>
    } -->
</header> 