<h2 class='title'> Trending</h2>

<app-card-list [data]="trendingClothesList$" [isSubmitting]="isSubmitting$"></app-card-list>

<div class='quote'>
    <div class='text'>“Beautiful collection of indie American brands at a fair price” </div>
    <div class='socials'>
        <a href="https://www.google.com/"><img alt='instagram' src='../../../../assets/instagram.png' /></a>
        <a href="https://www.google.com/"><img alt='twitter' src='../../../../assets/twitter.png' /></a>
        <a href="https://www.google.com/"><img alt='facebook' src='../../../../assets/facebook.png'/></a>
    </div>
</div>
   <!-- {
        loadingInst ? <Spinner/> :  <CheckUsOnInst pics={instPictures}/>
    } -->