.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    margin-bottom: 10rem;
}

.title { 
    font-size: 5.2rem;
    margin: 3rem;
    width: 50%;
    text-align: center;
}

.story {  
    font-size: 1.7rem;
    color: #606060;
    width: 50%;
}

.story::first-letter{
    font-size: 8.8rem;
    color: #FFF;
}

.author {
    font-size: 2rem;
    padding: 5rem;
    border-bottom: 1px solid #FFF;
    text-align: center;
}

.relatedTitle{
    font-size: 2rem;
    cursor: pointer;
}

.relatedTitle::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: white;
    transition: 300ms;
}
  
.relatedTitle:hover::after {
    width: 100%;
}

.relatedtitle{
    font-size: 3rem;
}

.spinner {
    margin: 0 35%;
}
.relatedContainer{
    display: flex;
    flex-direction: column;
    padding:  5rem 4rem;
    border-top: 1px solid #FFF;
}

.storiesContainer{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    margin-top: 2rem;
}

.button{
    background: #FFFFFF;
    border-radius: 4.7rem;
    min-height: 4rem;
    margin: 3rem auto;
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 1.8rem;
    max-width: 30rem;
}

@media (max-width: 680px) and (min-width: 375px) { 
    .story {        
        width: 80%; 
    }
    .title { 
        font-size: 4.2rem;
        width: 80%;
    }

    // .relatedStory{
    //     max-width: 40%;
    // }

    .storiesContainer{
        flex-wrap: wrap;
    }
}
