<div class="container" [formGroup]="data">
    <input 
        type='email'
        id="email"
        formControlName="email"
        placeholder='Email'
        required
    >
    <input 
        type='password'
        id="password"
        formControlName="password"
        placeholder='Password'
        required
    >
    
    <ng-container *ngIf="type === 'login'">
        <button (click)="submitLogin()">
            Log in
        </button>
    </ng-container>

    <ng-container *ngIf="type === 'register'">
        <button (click)="submitRegister()">
            Register
        </button>
    </ng-container>
    
</div>