.button{
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 2.3rem;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0);
    color:#FFF;
    padding: 3rem;
    text-transform: uppercase;
}
.buttonparent{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.title{
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 5.2rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.buttonContainer{
    display: flex;
    justify-content: center;
    align-items:center
}

.buttonAdd{
    background: #FFFFFF;
    border-radius: 4.7rem;
    min-height: 6rem;
    width: 40%;
    margin-bottom: 8rem;
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 1.8rem;
}
