<ng-template #loading>
    <object class='spinner'
        type="image/svg+xml"
        data="../../../assets/spinnerBig.svg"
        >
    </object>
</ng-template>

<ng-template #loadingSmall>
    <button class="payment" disabled="true">
        <object class='spinner-small'
                type="image/svg+xml"
                data="../../../assets/spinnerBig.svg">
        </object>

    </button>
</ng-template>



<div class="wrapperCheckout" *ngIf="(cartItems$ | async) as items; else loading">
    <div class="wrapper">
        <div class="content">
            <div class="mycart">Checkout</div>
            <div class="listLittle" #ribbon >
                <div *ngFor="let item of items" class="item">
                    <div class="itemLittle">
                        <div>
                            <div>
                                <img [src]="item.image" [alt]="item.title" />
                            </div>
                        </div>
                        <div class="itemInfoLittle">
                            <p>{{ number(item.price) * (item.quantity ? item.quantity : 1) }} $</p>
                            <p>{{ item.title.slice(0, 60)+ '...' }}</p>
                        </div>
                        <div class="piecesLittle">{{ item.quantity }} piece(s)</div>
                    </div>
                </div>
            </div>
            <div *ngIf="items.length > 3" class="arrow" (click)="onArrowClick()"></div>
        </div>
        <div class="totalContainer">
            <div class="totalInfo">
                <span class="total"> Total:</span>
                <span>{{ totalPrice }} $</span>
            </div>
        </div>
    </div>
    <div class="wrapperForm">
        <form class="formCheckout" (ngSubmit)="onSubmit($event)" [formGroup]="orderData">
            <input name="name" type="text" [attr.value]="name$ | async" formControlName="name" required />
            <input name="email" type="email" [attr.value]="email$ | async" formControlName="email" required />
            <input name="tel" type="tel" placeholder="Phone" formControlName="phone" required />
            <input name="address" type="text" placeholder="Address" formControlName="address" required />
            <ng-container *ngIf="!isSubmitting; else loadingSmall">
                <button class="payment" type="submit" [disabled]="orderData.invalid">Create an order</button>
            </ng-container>
        </form>

    </div>
</div>

<div [ngClass]="success ? 'blur' : ''">
<div class="wrap">
    <div [ngClass]="success ? 'orderShow' : 'orderHide'">
        Your purchase has been successfully registered. The receipt sent to your email.
        <button (click)="closeModal()" class="upload_button">OK</button>
    </div>
    
    <div [ngClass]="error ? 'orderShow' : 'orderHide'">
        Something went wrong. Please try again.
        <button (click)="closeModal()" class="upload_button">OK</button>
    </div>
</div>
</div>
