<ng-template #empty>
    <div class="wrapper">
        <div class="emptycart">Your cart is empty.</div>
    </div>
</ng-template>

<ng-container *ngIf="(cartItems$ | async) as items; else empty">
    <div class="wrapper">
        <div class="content">
            <div class="mycart"> My cart</div>
            <div *ngFor="let item of items" class="item">
                <div>
                    <div>
                        <img [src]="item.image" [alt]="item.title" />
                    </div>
                </div>
                <div class="itemInfo">
                    <p>{{item.price}} $ per piece</p>
                    <p>{{item.title}}</p>
                    <div class="quantity">
                        <button class="minus" (click)="minusItem(item.id)"></button>
                        <div>{{item.quantity}} piece(s)</div>
                        <button class="plus" (click)="plusItem(item.id)"></button>
                    </div>
                </div>

                <button>✕</button>
            </div>
        </div>
        <div class="totalContainer">
            <div class="totalInfo">
                <!-- <span class="total"> Total:</span>
                <span>{totalPrice} $</span>
                <button class="checkout" onClick={()=> onCheckout()}>Checkout</button> -->
            </div>
        </div>

    </div>


</ng-container>