<ng-template #empty>
    <div class="wrapper">
        <div class="emptycart">Your cart is empty.</div>
    </div>
</ng-template>

<ng-container *ngIf="(cartItems$ | async)!.length > 0; else empty">
    <div class="wrapper" *ngIf="(cartItems$ | async) as items">
        <div class="content">
            <div class="mycart"> My cart</div>
            <div *ngFor="let item of items" class="item">
                <div>
                    <div>
                        <img [src]="item.image" [alt]="item.title" />
                    </div>
                </div>
                <div class="itemInfo">
                    <p>{{item.price}} $ per piece</p>
                    <p>{{item.title}}</p>
                    <div class="quantity">
                        <button class="minus" (click)="changeQuantity(item.id, 'minus')"></button>
                        <div>{{item.quantity}} piece(s)</div>
                        <button class="plus" (click)="changeQuantity(item.id, 'plus')"></button>
                    </div>
                </div>
                <button (click)="deleteItem(item.id)">✕</button>
            </div>
        </div>
        <div class="totalContainer">
            <div class="totalInfo">
                <span class="total"> Total:</span>
                <span>{{totalPrice}} $</span>
                <button class="checkout" [routerLink]="['/checkout']">Checkout</button>
            </div>
        </div>
    </div>
</ng-container>